{% extends 'base.html' %}
{% load static %}

{% if user.is_authenticated %}

<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		    <title>Cinemania - Movies</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'stylings/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylings/fontawesome/css/all.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylings/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/javascript" href="{% static 'stylings/bootstrap/js/bootstrap.min.js' %}">
        <script src="{% static 'stylings/bootstrap/dist/jquery.slim.min.js' %}"> </script>
        <script src="{% static 'stylings/bootstrap/dist/bootstrap.min.js' %}"> </script>

        <style type="text/css"> 
            .right{
                list-style: none;
                display: block;
            }
            .right li {
                float: left
            }
            .right li{
                color: white;
            }
            .right .sub a {
                text-align:center;
                text-decoration: none;
                color: white;
                background: blue;                
                padding: 10px 20px 12px 20px;
                transition: background 0.2s ease-in-out 
            }
            .right .sub a:hover {
                background: darkblue
            }
            .user {
                font-size:  28px;
                transition: color 0.2s ease-in-out 
            }
            .user:hover {
                color: whitesmoke
            }
            .video {
                text-decoration: none;
            }
              .stretch-card>.card {
                width: 100%;
                min-width: 100%
            }

            .flex {
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto
            }

            @media (max-width:991.98px) {
                .padding {
                    padding: 1.5rem
                }
            }

            @media (max-width:767.98px) {
                .padding {
                    padding: 1rem
                }
            }

            .padding {
                padding: 1rem
            }

            .carousel .item {
                margin: 3px
            }

            .carousel .item img {
                display: block;
                width: 100%;
                height: auto
            }

            .carousel .item {
                margin: 3px
            }

            .carousel {
                margin-bottom: 15px
            }

            .search-form .form-group {
              float: right !important;
              transition: all 0.35s, border-radius 0s;
              width: 32px;
              height: 1px;
              background-color: #fff;
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
              border-radius: 4px;
              border: 1px solid #ccc;
            }
            .search-form .form-group input.form-control {
              padding-right: 20px;
              border: 0 none;
              background: transparent;
              box-shadow: none;
              display:block;
            }

            .search-form .form-group:hover,
            .search-form .form-group.hover {
              width: 100%;
              border-radius: 4px 25px 25px 4px;
            }
            .search-form .form-group span.form-control-feedback {
              position: absolute;
              top: -1px;
              right: -2px;
              z-index: 2;
              display: block;
              width: 34px;
              height: 4px;
              line-height: 34px;
              text-align: center;
              color: #3596e0;
              left: initial;
              font-size: 14px;
            }
        </style>
        
        </head>
        <body>
          {% block content %}

            <div class="fluid" style="background-image: url('{% static 'stylings/images/slides/extraction1.jpg' %}');">
                <nav style="background: #000000; box-shadow: box-show;" class="navbar navbar-expand-lg">
                    <a class="navbar-brand" style="font-size: 25px" href="{% url 'movies' %}"><b>CINEMANIA</b></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span style="" class="navbar-toggler-icon"><i class="fa fa-settings"></i></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link text-whitesmoke active" href="{% url 'movies' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% comment %} <li class="nav-item">
                          <a class="nav-link text-whitesmoke" href="{% url 'movies' %}">All Movies</a>
                        </li> {% endcomment %}
                          <li class="nav-item">
                          <a class="nav-link text-whitesmoke" href="{% url 'adults' %}">Adults</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-whitesmoke" href="{% url 'kids' %}">Kids</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                  
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                          <a class="nav-link text-whitesmoke" style="color:orange" href="{% url 'myfavs' user.id %}"><b>My favorite movies</b></a>
                        </li> 
                        {% endif %} 
                      </ul>
                  
                      <div class="topnav">
                        <div class="search-container">
                          <form action="{% url 'search' %}" method="POST" > {% csrf_token %} 
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                          </form>
                        </div>
                      </div>
                  
                      
                      <ul class="right">
                        
                          {% if user.is_authenticated %}
                          
                          <div>
                            <a href="{% url 'profile' user.id %}">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ user.username }}</button></a>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="{% url 'logout' %}">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button></a>
                          </div>
                  
                  
                          {% else %}
                         <div> 
                          <a href="{% url 'login' %}">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{% url 'relecloud:signup' %}">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SIgn Up</button></a>
                        </div>
                          {% endif %}
                        </li>
                        </ul>
                    </div>
                  </nav>
                  <div>


                    {% if user.is_authenticated %}
                    <section>
                        <div class="container py-5">
                          <div class="row">
                            <div class="col-lg-8 w-50 mx-auto">
                              <div class="card mb-4" style="background: black;border-radius: 45px;">
                                <div class="card-body" style="background: black; border-radius: 45px;">
                                    <form style="background: black; color: white;" method="post" enctype="multipart/form-data">{% csrf_token %}
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <h2 style="text-align: center">Upload - Movie</h2>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Title:</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <input type="text" required class="form-control" name="title" placeholder="Movie Title">
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Main Actors:</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <input type="text" required class="form-control" name="actors" placeholder="Insert main actors for this movie" >
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Release on:</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <input type="date" class="form-control" name="release_date">
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Genre:</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <input type="text" required class="form-control" name="genre" placeholder="Genre">
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Category:</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <select required class="form-control" name="type">
                                        {% if user.age >= 18 %}
                                        <option>Choose the category for this movie</option>
                                        <option value="G">No restriction</option>
                                        <option value="A">Restricted, only for Adults</option>
                                        <option value="K">For Kids but no restriction</option>
                                        {% else %}
                                        <option>Choose the category for this movie</option>
                                        <option value="G">No restriction</option>
                                        <option value="K">For Kids but no restriction</option>
                                        {% endif %}
                                      </select>
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Poster:</p>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div>
                                      <input type="file" name="poster">
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Trailer:</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <input type="text" required class="form-control" name="link" placeholder="Provide trailer link">
                                    </div>
                                  </div>
                                  <hr>  
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Uploaded By:</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <input type="text" readonly value="{{ user.username }}" class="form-control" name="user">
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-9">
                                      <input type="text" value="{{ user.id }}" hidden class="form-control" name="uploaded_by">
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Movie File:</p>
                                    </div>
                                    <div>
                                      &nbsp;&nbsp;
                                      <input type="file" required name="movie">
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <p class="mb-0">Description:</p>
                                    </div>
                                    <div class="col-sm-9">
                                      <textarea class="form-control" required placeholder="Details for this movie" name="description">{{ movie.description }}</textarea>
                                    </div>
                                  </div>
                                  <hr>  
                                  <div class="row">
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-9">
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                      <input style="float: center;" type="submit" class="btn btn-primary" name="update" value="Upload">
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                 
                                      <input style="float: center;  width: 15%;" type="reset" class="btn btn-primary" name="update" value="Clear"> 
                                      
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section> 

                      {% else %}
                      {% url 'login' %}
                      {% endif %}

                      {% endblock %}
                
                      <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                                    <ul class="contact">
                                      <p style="color: white; text-align: aut0;">Follow us on:</p>
                                      <div class="mt-4">
                                        <!-- Facebook -->
                                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
                                        <!-- Twitter -->
                                        <a href="https://twitter.com/Terasedo" type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
                                        <!-- Google + -->
                                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
                                        <!-- Linkedin -->
                                      </div>
                                    </ul>
                                </div>
                                
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <ul class="contact">
                                      <li>
                                        <a href="/movies">All Movies</a>
                                      </li>
                    
                                      <li>
                                        <a href="/kids">Kids</a>
                                      </li>
                    
                                      <li>
                                        <a href="/adults">Adults</a>
                                      </li>
                                    </ul>
                                </div>
                           
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                    <ul class="contact">
                                       <li>
                                            <a href="#"><i class="fa fa-phone"></i> (+250) 780 575 468</a>
                                       </li>
                    
                                       <li>
                                        <a href="#"><i class="fa fa-phone"></i> (+250) 785  845 731</a>
                                   </li>
                                       <li>
                                            <a href="#"><i class="fa fa-envelope"></i> cinemania@gmail.com</a>
                                       </li>
                                     </ul>
                                </div>
                           </div> 
                        </div>  
                        <div class="bfooter">
                          <p style="color: white;"> @2022 Copyrights &copy; Cinemania </p>
                          </div>      
                    </footer>     
                
            </div>
        </body>
</html>

{% else %}

{% url 'login' %}

{% endif %}

<script type="text/javascript">
$(document).ready(function() {

$(".owl-carousel").owlCarousel({

autoPlay: 3000,
items : 4,
itemsDesktop : [1199,3],
itemsDesktopSmall : [979,3],
center: true,
nav:true,
loop:true,
responsive: {
600: {
items: 4
}
}
</script>

